#topBanner {
    position: fixed; top: 0; left: 0;
    height: 10vh;  width: 100%;
    background-color: rgb(250, 250, 255);
    border: solid 1vh rgb(230, 230, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#topBanner-title {
    font-size: 3vh;
    width: auto;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    border: solid black 1px;
    position: absolute;
    line-height: 0%;
}
#topBanner-title-h1 {
    border: solid black 1px;
}
#shoppingCartImg {
    border: solid 1px brown;
    position: absolute; right: 0;
    height: 10vh; width: 10vh;
}
/* #pageBody {
    position: fixed; top: 12vh; left: 0vh;
    border: solid 1vh green;
    width: 100%; height: 100vh;
    line-height: 0%;
}
#pageBody-title {
    border: solid 1px black;
}
#pageBody-title-h1 {
    border: solid 1px green;
} */