#topBanner {
    position: absolute; top: 0; left: 10vw;
    height: 10vh;  width: 80vw;
    background-color: rgb(250, 250, 255);
    border: solid 1vh rgb(230, 230, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
    #topBanner-title {
        font-size: 3vh;
        width: auto;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: 1vh;
        /* border: solid black 1px; */
        position: absolute;
        line-height: 0%;
    }
        #topBanner-title-h1 {
            /* border: solid black 1px; */
            color: black;
            font-family: "Bodoni 72", "Bodoni MT", "Times New Roman", serif;
        }
    #topBanner-cartIcon{
        font-size: 3vh;
        width: auto;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: 3vh;
        /* border: solid black 1px; */
        position: absolute; right: 0;
        line-height: 0%;
    }
        #shoppingCartImg {
            /* border: solid 1px brown; */
            /* position: absolute; right: 0; */
            height: 4vh; width: 4vh;
        }
        
#pageBody {
    position: absolute; top: 12vh; left: 10vw;
    /* border: solid 1vh green; */
    border-left: solid 1vh rgb(230, 230, 255);
    border-right: solid 1vh rgb(230, 230, 255);
    width: 80vw; height: 100vh;
    line-height: 0%;
}
    #pageBody-cart {
        border: 1px solid black;
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        #pageBody-cartMenu {
            /* border: solid 1px black; */
            width: auto;
            height: auto;
            padding: 2px;
        }
            #pageBody-cartText {
                /* border: solid 1px green; */
                font-size: 12pt;
                width: 10vw;
                text-align: center;
            }
            #pageBody-downArrow {
                width: 4vw;
                height: 4vh;
                /* border: 2px solid orange; */
                text-align: center;
            }
                #down-arrow-img {
                    width: 20px;
                    height: 20px;
                    padding-top: 1vh;
                }
    #container {
        /* border: blueviolet solid 1vh; */
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
        .example-item {
            border: solid 1px rgb(230, 230, 255);
            width: 25vh;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 1vh;
        }
            .example-picture {
                width: 20vh;
                height: 20vh;
            }
            .example-text {
                border: 1px solid black;
            }